:root {
        --bg-color-primary: #562231;
        --bg-color-secondary: #845d5d;
        --body-color-primary: #845d5d;
        --body-color-secondary: #8bcedb;
        --font-color: white;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.body-text {
        font-family: Hack, monospace;
        font-weight: bold;
        margin-top: 50px;
}

body {
        background: linear-gradient(45deg, var(--bg-color-primary), var(--bg-color-secondary));
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
}


article {
        background-color: var(--body-color-primary);
        box-shadow: 0 0 20px 0;
        border-style: inset;
        border-color: var(--body-color-secondary);
        border-width: 4px;

        padding: 8px;

        width: 95%;

        min-width: 300px;
        max-width: 1920px;
        margin: auto;

        margin-bottom: 2%;
        margin-top: 2px;
}

section 
{
}

.body-text h1, h2, h3 {
        color: var(--font-color);
        background-color: rgba(0,0,0,0);

        margin: auto;
        position: relative;

        width: 95%;

        min-width: 300px;
        max-width: 1920px;
}

.body-text h4 {
        background-color: var(--bg-color-secondary);
        color: var(--font-color);
        padding: 0 4px;
        margin: auto;
}

nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 8vh;
        background-color: var(--bg-color-primary);
        font-family: Hack, monospace;
}

.nav-links {
        width: 30%;
        min-width: 50px;
        display: flex;
        align-items: end;
        justify-content: end;
}

.nav-links li {
        list-style: none;
}

.nav-links a {
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        padding: 15px;
        min-height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
}

.nav-links li a:hover:not(.active) {
        background-color: var(--body-color-primary);
}

.nav-links li a.active {
        background-color: var(--body-color-secondary);
        color: black;
}

.nav-bar {
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 10px;

        padding: 10px;
        min-height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
}

.body-text ul {
        margin: 0px;
        padding: 0 20px;
        color: var(--font-color);
        list-style: square;
}

.body-text li {
        padding: 4px 0;
}

.body-text a:active {
        color: white;
}

.body-text a:focus {
        color: white;
}

.body-text a:hover {
        color: white;
}

.body-text a {
        color: var(--body-color-secondary);
}
