:root {
  --bg-color-primary: #562231;
  --bg-color-seconday: #845d5d;
  --body-color-primary: #845d5d;
  --body-color-seconday: #8bcedb;
  --font-color: white;
}

h1, h2 {
  background-color: var(--bg-color-primary);
  color: var(--font-color);
  padding: auto;
  margin: auto;
}

label {
  display: block;
  text-align: left;
  margin: auto;
  width: auto;
  color: var(--font-color);
}

body {
  background: linear-gradient(45deg, var(--bg-color-primary), var(--bg-color-seconday));
  width: 70%;
  margin: auto;
}

fieldset {
  background-color: var(--body-color-primary);
  margin: 0;
  width 25%;
  box-shadow: 0 0 20px 0;
  margin-top: 5%;
  margin-bottom: 2%;
  border-style: inset;
  border-color: var(--body-color-seconday);
}

fieldset:first-of-type{
  background-color: var(--bg-color-primary);
}

h3 {
  color: black;
  margin: 0;
  color: var(--font-color);
}

ul {
  margin: 4px 0;
  width: 60%;
  color: var(--font-color)
}

li {
}

p {
  display: block;
  text-align: center;
}
