:root {
  --bg-color-primary: #562231;
  --bg-color-secondary: #845d5d;
  --body-color-primary: #845d5d;
  --body-color-secondary: #8bcedb;
  --font-color: white;
}

h1, h2 {
  background-color: var(--bg-color-primary);
  color: var(--font-color);
  padding: auto;
  margin: auto;
}

h4 {
  background-color: var(--bg-color-secondary);
  color: var(--font-color);
  padding: auto;
  margin: auto;
}

label {
  display: block;
  text-align: left;
  margin: auto;
  width: auto;
  color: var(--font-color);
}

body {
  background: linear-gradient(45deg, var(--bg-color-primary), var(--bg-color-secondary));
  width: 90%;
  min-width: 300px;
  max-width: 1920px;
  margin: auto;
}

fieldset {
  background-color: var(--body-color-primary);
  margin: 0;
  width 25%;
  box-shadow: 0 0 20px 0;
  border-style: inset;
  border-color: var(--body-color-secondary);
  margin-bottom: 1%;
}

fieldset:first-of-type {
  margin-top: 5%;
  margin-bottom: 3%;
  background-color: var(--bg-color-primary);
}

fieldset:last-of-type {
  margin-bottom: 10%;
  background-color: var(--bg-color-secondary);
}

h3 {
  color: black;
  margin: 0;
  color: var(--font-color);
}

ul {
  margin: 0 5%;
  padding: 0;
  color: var(--font-color);
}

.bar{
}
